%% TUI Service project
%% (C) 2015 Angel J. Alvarez Miguel



{erl_opts, [
            	{i, "include"}
            ]}.

{eunit_opts, [verbose]}.
{eunit_compile_opts, [
						 debug_info
					]}.

{escript_incl_apps,[getoptex, getopt, cowboy, cowlib, ranch]}.

{erl_opts, [debug_info, fail_on_warning]}.

{deps,
        [
             {getopt,   ".*", {git, "https://github.com/jcomellas/getopt.git",   {branch, "master"}}}
            ,{getoptex, ".*", {git, "https://github.com/angelitoj/getoptex.git", {branch, "master"}}}
            ,{cowboy,   ".*", {git, "git://github.com/ninenines/cowboy",         {tag, "1.0.1"}}}
        ]}.